PORT=5000
MONGODB_URI=mongodb+srv://harshithts45_db_user:wjMYSyVCOV7coc6V@shadowtourpackage.mvpziog.mongodb.net/?appName=shadowtourpackage
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=harshithts45@gmail.com
EMAIL_PASSWORD=45harshithts890@#$
OWNER_EMAIL=harshith.ts.dev66@gmail.com
FRONTEND_URL=http://localhost:5173